html { overflow: -moz-scrollbars-vertical; }
html { overflow-x: auto; }

#jquiDialog iframe { width:1000px; height:600px; border:none;}

rect.approved         { fill:#090; stroke:none; cursor:pointer; }
text.approved   tspan { fill:#fff; stroke:none; cursor:pointer; font-size:12px; font-weight:normal; font-family:verdana, sans-serif; }
rect.requested        { fill:#ddd; stroke:none; cursor:pointer; }
text.requested  tspan { fill:#666; stroke:none; cursor:pointer; font-size:14px; font-weight:bold;   font-family:verdana, sans-serif;}
rect.weekBlocks       { fill:#ddd; stroke:lightgrey; }
text.weekBlocks tspan { fill:#666; stroke:none; font-size:10px; font-weight:normal; font-family:verdana, sans-serif; }

body {font-size:12px; font-weight:normal; font-family:verdana, sans-serif; margin:0; padding:0; }

nav { color:white; padding-left:17px; margin-bottom:0; background-color:#B4C6D9; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey; padding-bottom:1px; padding-top:2px; }
nav a { color:inherit; text-decoration:none; padding:3px; margin-bottom:3px; display:inline-block; }

.datepicker { padding:0 3px; color:grey; border:none; background-color:white; border-radius:3px; }

header { background-color:#153B63; color:white; font-size: 20px; padding: 25px 20px 21px 20px; }
header h1 { font-size:inherit; font-weight:inherit; padding:0; margin:0; }
header h1 span {color:lightgrey; font-size: 10px; }
header h1 img { vertical-align:text-bottom;}
#graphic { overflow:auto; }

footer { color:lightgrey; font-size:10px; text-align:right; padding:3px 20px; margin-top:40px; margin-bottom:10px; }
footer a { color:inherit; text-decoration:inherit; }

rect.outerSortArea { fill:rgba(223,0,36,0.5); stroke:none; cursor:pointer; }
/*rect.outerSortArea:hover { fill:rgba(223,0,36,1); }*/
text.outerSortText  tspan { fill:#666; fill:white; stroke:none; cursor:pointer; font-size:14px; font-weight:bold;   font-family:verdana, sans-serif; text-anchor:left;}
/*text.outerSortText   { fill:#666; fill:white; stroke:none; cursor:pointer; font-size:14px; font-weight:bold;   font-family:verdana, sans-serif; text-anchor:left;}*/
/*
rect.innerSortArea { fill:rgba(180,180,180,0.5); stroke:red; cursor:pointer; }
text.innerSortText  tspan { fill:#666; stroke:none; cursor:pointer; font-size:14px; font-weight:bold;   font-family:verdana, sans-serif; text-anchor:left;}
text.innerSortText   { fill:#666; stroke:none; cursor:pointer; font-size:14px; font-weight:bold;   font-family:verdana, sans-serif; text-anchor:left;}
*/